body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Montserrat";
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    margin: 0px;
    font-family: "Archivo Black";
}
nav {
    position: static;
    top: 0px;
    width: 100%;
    background-color: var(--acc1);
    padding: 2vh 0vw;
}
nav a {
    color: var(--main-white);
    padding: 0vh 4vw;
    font-size: 1.25em;
}
main {
    background-color: var(--main-white);
    color: var(--dark);
    padding: 2vh 5vw;
}
section {
    margin-top: 2vh;
    display: flex;
}
section h2 {
    margin: 2vh 0vw;
}
section a{
    color: var(--acc2);
}
section a:hover {
    color: var(--acc1);
}
section img {
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 5px;
}
.project-main {
    padding: 0vh 3vw;
    line-height: 1.5em;
}